connections {
  epdg-ike {
    version = 2
    send_cert = always
    proposals = aes256-sha256-modp2048
    pools = ue_pool
    local_addrs = 10.46.0.2
    remote_addrs = %any

    local {
      auth = pubkey
      certs = /etc/swanctl/x509/epdg.crt
      id = epdg.localdomain
    }
    remote {
      auth = eap-dynamic
      eap_id = %any
    }

    children {
      ue-default {
        local_ts = 0.0.0.0/0
        remote_ts = dynamic
        esp_proposals = aes256-sha256
        start_action = trap
      }
    }
  }
}

pools {
  ue_pool {
    addrs = 10.46.0.100-10.46.0.200
    dns = 8.8.8.8
  }
}
