connections {
  epdg-ike {
    version = 2
    proposals = aes256-sha256-modp2048
    send_cert = never
    local_addrs = 10.46.0.2
    remote_addrs = %any
    local {
      auth = psk
      id = 10.46.0.2
    }
    remote {
      auth = psk
      id = %any
    }
    children {
      ue-ue-001 {
        local_ts = 10.46.0.2/32[tcp/udp]
        remote_ts = dynamic[tcp/udp]
        start_action = trap
        esp_proposals = aes256-sha256
      }
    }
  }
}

secrets {
  ike-psk {
    id-1 = 10.46.0.2
    id-2 = %any
    secret = "change_me_psk"
  }
}
